body {
  background: #fafafa;
  color: #414141;
  font-family: 'Cooper Hewitt'; sans-serif;
  font-size: 1.2em;
  margin: 5vh 10vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  line-height: 2em;
}

.box-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-column-gap: 5vw;
  border: 1px #888 solid;
  border-radius: 2px;
  margin: 5vh 0;
}

.pair-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  border: 1px #888 solid;
  border-radius: 2px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  justify-self: center;
  align-self: center;
}

svg #flat-box, #gradients-box, #linear-gradient-box, #radial, #blue-flat-box, #blue-gradients-box, #flat-circle, #gradients-circle {
  width: 100%;
}

svg #gradients-circle {
  --linear-stop-0: #456fd8;
  --linear-stop-1: #454dc7;
  --inner-radial-stop: #192b94;
  --outer-radial-stop: #196f83;
}

svg #flat {
  --fill-color: #2f57b7;
  --stroke-color: none;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 10vw;
  border: 1px #888 solid;
  border-radius: 2px;
  margin: 5vh 0;
}

.color-picker {
  overflow: hidden;
  cursor:pointer;
  height: 36px;
  width: 50px;
  background: Transparent;
  border: none;
  visibility: hidden;
}

code, pre {
  font-size: 1.1em;
  color: #d33682;
  margin: 1em 0;
}

code.blue, a {
  color:#017eb7;
}
code.grey-blue {
  color:#3c687c;
}

@media (min-width: 961px) {
  h3 {
    grid-row: 1 / 2;
  }
}


@media (min-width: 551px) and (max-width: 960px) {

  .box-grid {
    grid-template-rows: 1fr 2.5fr;
  }

  h3 {
    grid-row: 1 / 2;
  }

}

@media (max-width: 551px) {

  .box-grid {
    grid-template-columns: 1fr;

    grid-template-rows: 1fr 3fr 1fr 3fr;
  }

  .box {
    padding: 5vh 2vw;
  }

  .pair-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  code {
    font-size: 0.8em;
  }

}



@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt/CooperHewitt-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt/CooperHewitt-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt/CooperHewitt-BookItalic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt/CooperHewitt-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
