/*
 * Want to change this website's styes? Learn more about CSS:
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
 */

body {
  padding: 0 0px;
  background: #fafafa;
  color: #414141;
  font-family: 'Cooper Hewitt'; sans-serif;
  padding-left:20vw;
  padding-right: 20vw;
  line-height: 2em;
  /* text-align: justify;
  text-justify: inter-word; */
}
h1 {
  text-align: center;
  margin-top: 5vh;
}

code {
  font-size: 1.1em;
  color: #d33682;
}

code.blue {
  color:#017eb7;
}
code.grey-blue {
  color:#3c687c;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    width: 120px;
    height: 120px;
    padding: none;
}

svg {
  display:inline-block;
  margin:10px;
}

svg.style-A {

  --circle-fill:#99D5C9;
  --circle-stroke:#6C969D;
}

svg.style-B{

  --circle-fill:#DBAD6A;
  --circle-stroke:#628395;
}
svg.stroke-button {
  width: 100px;
  height: 100px;
}
#change-on-click {
  width: 100px;
  height: 100px;
}
svg.fill-button {
  width: 100px;
  height: 100px;
}

svg #Background {
  --fill-color:#fdf6e3;
  --stroke-color:#444444;
}
svg #LittleSquare {
  --fill-color:#93a1a1;
}
svg #RotatedSquare {
  --fill-color:#dc322f;
}
svg #BigSquares {
  --fill-color:#073642;
}
svg #Circle {
  --fill-color:#2aa198;
}
svg #Triangle {
  --fill-color:#b58900;
}
.colorPicker {
  cursor:pointer;
  overflow: hidden;
  height: 52px;
  width: 50px;
  background: Transparent;
  border: none;
  /* border: 3px solid #444444;
  border-radius: 3px; */
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt/CooperHewitt-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt/CooperHewitt-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt/CooperHewitt-BookItalic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt/CooperHewitt-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
