body {
  padding: 0 40px;
}
main {
  width: 70vw;
  padding-left: 240px;
  padding-right: 10vw;
}

svg {
  min-width: 20%;
  max-width: 100%;
}

#sidebar {
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 20px;
  background: #004cee;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  line-height: 2;
  width: 210px;
  border-right: 2px solid #505083;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#sidebar button, input, select {
  color: white;
  border: white 2px solid;
  border-radius: 1px;
  background: #505083;
  padding: 8px;
  margin: 8px;
  font-weight: bold;
}


#upload {
  color: white;
}



@media (min-width: 961px) and (max-width: 1500px) {
  main {
    width: 73vw;
  }
  sidebar {
    width: 180px;
  }
}

@media (min-width: 551px) and (max-width: 960px) {

  main {
    width: 75vw;
  }
  sidebar {
    width: 150px;
  }
}

@media (max-width: 550px) {
  body {
      padding: 0 10px;
  }

  #sidebar {
    flex-direction: row;
    width: 95vw;
    height: 100px;
    padding: 0px 10px;
    border-right: none;
    border-bottom: 2px solid #505083;
    line-height: 1.5;
    font-size: 0.8em;
    align-items: center;
  }

  main {
    margin: 0px;
    width: 90vw;
    padding-left: 10px;
  }
}
